{% extends 'main.html'%}


{% block content%}


<form action="" method="POST" >
    {%csrf_token%}   
    <div class="centered-form">
      <div class="card">
          
            <div class="heading-box" >
              <h1> User Login Form</h1>
            </div>
          <br>
         
          
          {% for field in form %}

        <div class="form__field">
          <label>{{field.label}}</label>
          
           {{field}}
          <br>
          <br>
          <div class="form__field">
          {% for error in field.errors %}
          <p style="color: red;">{{error}}</p>
        </div>
          {%endfor%} 

        
        </div>
        {%endfor%}
        
        {% if messages %}
        <div class="form__field">
          {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
          {% endfor %}
        
        </div>
        {% endif %}
        <div>
          <a href="{%url 'url'%}"><input type="submit" value="Login" class="cancel-button"></a> 
          <p>Don't have an account?</p>
          <a href="{%url 'register'%}"><input type="button" class="register-button" aquamarine;" value="Signup"></a>
        </div>
        </div>
      </div>
    </div>
      </form>

      {% endblock content%}